@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background-color: #dadada;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: white;
}

.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1{
    color: white;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: white;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4ox 0 0 4px;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 4px;
    background: #ffd64f;
    border: 0 4px 4px 0;    
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-text{
    margin-left: 15px;
}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav-cart h4{
    margin-top: 15px;
}

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: white;
    font-size: 15px;
}
.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.header-slider ul{
    display: flex;
    overflow-y: hidden;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

/*.hero-msg {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 0.85rem;
    width: 97%;
    
}
.hero-msg a {
    color: #007185;
}*/

.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control-next{
    right: 0;
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 10px 20px;
}

.sub-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 2px 4px;
    margin-top: 20px;
}

.sub-column{
    margin-top: 5px;
    display: flex;
}
.sub-column1{
    margin-top: 20px;
    display: flex;
    gap: 5px;
}
.sub-column2{
    display: flex;
    gap: 10px;
}

.sub-column3{
    display: flex;
    gap: 10px;
    margin-top: 20  px;
}
.box-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    background: #ffff;
    max-width: 24%;
    min-width: 200px;
    height: 380px;
    z-index: 1;
}
.box-column a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;
}
.box-column p{
    font-size: 22px;
    font-weight: 500;
}
.header-box{
    margin-top: -20vw;
}

.product-slider{
    background: white;
    margin: 0 20px;
    padding: 20px;
    margin-bottom: 5px;
}

.product-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 50px;
    margin-top: 5px;
}

.product-slider .products img{
    max-width: 130px;
    max-height: 200;
}
.product-slider .products::-webkit-scrollbar{
    display: none;
}


footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;

}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    height: 80px;

}
.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}